services:
  app:
    build: .
    command: sleep infinity
    volumes:
      - ..:/workspaces/koe:cached

  redis:
    image: redis:8.4.0-alpine
    command: redis-server --save 60 1

  voicevox:
    image: voicevox/voicevox_engine:cpu-0.25.0
    environment:
      VV_PRESET_FILE: /opt/voicevox_engine/presets.yaml
    volumes:
      - ./config/voicevox_presets.yaml:/opt/voicevox_engine/presets.yaml:ro
