name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: Version to release (e.g., 2.0.0)
        type: string
        required: true

permissions: {}

env:
  CONTAINER_IMAGE: ghcr.io/${{ github.repository_owner }}/koe

concurrency: ${{ github.workflow }}

jobs:
  create-release:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Create release archive
        run: |
          cp -r ./deployment ./koe
          zip -r "koe_${VERSION}.zip" ./koe
          rm -rf ./koe
        env:
          VERSION: ${{ inputs.version }}

      - name: Create GitHub Release
        run: gh release create --draft --generate-notes --target "$GITHUB_SHA" "v$VERSION" "koe_${VERSION}.zip"
        env:
          GH_TOKEN: ${{ github.token }}

  create-image-tags:
    runs-on: ubuntu-24.04
    permissions:
      packages: write
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2.0.2

      - name: Make sure that the container image is built
        run: skopeo inspect "docker://$CONTAINER_IMAGE:git-$GITHUB_SHA"

      - name: Generate image tags
        id: generate-image-tags
        run: |
          tags="$(bun run ./generate-image-tags.js "$VERSION")"
          echo "$tags"
          echo "tags=$tags" >> "$GITHUB_OUTPUT"
        working-directory: ./devtools
        env:
          VERSION: ${{ inputs.version }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push image tags
        run: |
          for tag in $TAGS
          do
            skopeo copy --all "docker://$CONTAINER_IMAGE:git-$GITHUB_SHA" "docker://$CONTAINER_IMAGE:$tag"
          done
        env:
          TAGS: ${{ steps.generate-image-tags.outputs.tags }}
