name: Create release

on:
  workflow_dispatch:
    inputs:
      bump:
        description: Increment major, minor, or patch version
        type: choice
        required: true
        default: auto
        options:
          - auto
          - major
          - minor
          - patch

permissions:
  contents: write
  packages: write

env:
  CONTAINER_IMAGE: ghcr.io/${{ github.repository_owner }}/koe

concurrency: ${{ github.workflow }}

jobs:
  create-release:
    if: false
    runs-on: ubuntu-24.04
    steps:
      - name: Make sure that the container image is built
        run: skopeo inspect "docker://$CONTAINER_IMAGE:git-${{ github.sha }}"

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 22
          cache: yarn
          cache-dependency-path: ./devtools/yarn.lock

      - name: Setup devtools
        run: yarn install --immutable
        working-directory: ./devtools

      - name: Configure git author
        run: |
          git config user.name 'github-actions'
          git config user.email '41898282+github-actions[bot]@users.noreply.github.com'

      - name: Create release
        run: |
          echo 'Creating ${{ inputs.bump }} release'

          if [ '${{ inputs.bump }}' == 'auto' ]; then
            yarn run create-release
          else
            yarn run create-release '${{ inputs.bump }}'
          fi
        working-directory: ./devtools
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate Docker tags
        id: generate-docker-tags
        run: |
          tags="$(yarn run generate-docker-tags)"
          echo "$tags"
          echo "tags=$tags" >> $GITHUB_OUTPUT
        working-directory: ./devtools

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Docker tags
        run: |
          for tag in ${{ steps.generate-docker-tags.outputs.tags }}
          do
            skopeo copy --all "docker://$CONTAINER_IMAGE:git-${{ github.sha }}" "docker://$CONTAINER_IMAGE:$tag"
          done
